* {

  margin: 0;
  padding: 0;
  border: 0;
  color: white;

}

body {

  background-color: rgb(34, 34, 34);
  width: 100dvw;

}

.contenido {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.lista {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

}

.formulario {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

h1 {

  font-size: 150%;
  margin: 2%

}

ul {

  list-style: none;
  margin: 2%;

}

input {

  color: black;
  padding: 3%;
  margin: 2%;

}

button {

  background-color: white;
  color: black;
  padding: 3%;
  margin: 2%;

}